#ignore everything except .tex, .bib & .pdf
Latex_docs/*.log
Latex_docs/*.aux
Latex_docs/*.bbl
Latex_docs/*.out
Latex_docs/*.blg
Latex_docs/*.bcf
Latex_docs/*.xml
Latex_docs/*.bak
Latex_docs/*.synctex.gz

