#ignore everything except .tex, .bib & .pdf
Latex_documents/*.log
Latex_documents/*.aux
Latex_documents/*.bbl
Latex_documents/*.out
Latex_documents/*.blg
Latex_documents/*.bcf
Latex_documents/*.xml
Latex_documents/*.bak
